# Build outputs
Debug/
Release/
build/

# Keil files
*.uvguix.*
*.uvoptx
*.uvprojx
*.dep
*.crf
*.o
*.d
*.lst
*.axf
*.map
*.bak

# CubeIDE / Eclipse
.metadata/
.settings/
*.launch

# OS junk
*.zip
*.rar
*.tmp
*.log
.DS_Store
Thumbs.db
